@{
    ViewBag.Title = "OnlineOrdering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda'")" rel="stylesheet" type="text/css" />
<style type="text/css">
    
    #page-wrapper {
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/Images/online-ordering.jpg");
        background-repeat: no-repeat;
        background-size: cover;                    
    }

    .caption {
        position: absolute;
        top: 45%;
        left: 2%;
        width: 110%;
    }
    .font_meie_script {
    font-family: 'Meie Script', cursive;
    font-size:50px;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.1pt;
    -webkit-text-stroke-color: darkslategray;
    color: darkgreen;
}


</style>

<div class="container h-100">
       @*<img src="~/Images/online-ordering.jpg" style="width:100%"/>*@
       @*<div class="text-center">
        <div class="caption">
            <p class="font_meie_script">Welcome to the new Online Ordering Service of<br /> Havi Logistics Philippines Inc.</p>
        </div>
    </div>*@
</div>
